body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f9eed8a3;
}
.navigation {
  background-color: #f9eed8a3;
  text-align: center;
  justify-content: center;
  display: flex;
  padding: 20px 40px;
  margin-top: 40px;
}
.navigation li {
  text-align: center;
  list-style-type: none;
  margin-right: 50px;
}
.navigation li a {
  text-decoration: none;
  font-size: 18px;
  color: #51554f;
  font-weight: bold;
}

.navigation li a:hover {
  color: #966575;
}
.main-layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
main {
  flex: 1;
}
.footer {
  background-color: #f9eed8a3;
  color: #666;
  padding: 20px 0;
  text-align: center;
  font-size: 14px;
  margin-top: auto;
}
.category-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 60px;
  justify-content: center;
}
.category-image {
  border-radius: 8px;
  overflow: hidden;
  width: 300px;
  height: 100%;
  max-width: 300px;
}
.category-image img {
  object-fit: cover;
  height: 280px;
  width: 100%;
}
.category-name h2 {
  color: #51554f;
  font-weight: bold;
}

.category-name h2:hover {
  color: #966575;
}

.product-container {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: space-evenly;
  align-items: center;
  padding: 15px 20px;
}
.product {
  background-color: white;
  padding: 15px 25px;
  border-radius: 10px;
}
.product .product-image {
  border-radius: 8px;
  overflow: hidden;
  width: 280px;
  height: 100%;
  max-width: 300px;
}
.product .product-image img {
  height: 350px;
  width: 100%;
  border-radius: 6px;
}
.product-content h2 {
  color: #51554f;
  font-weight: bold;
  font-size: 13px;
  max-width: 16rem;
}
.product-content h2:hover {
  color: #966575;
}
.no-underline {
  text-decoration: none;
}
.product-price {
  font-size: 14px;
  color: #966575;
}
.products-page {
  display: flex;
  padding: 20px;
}

.category-filter {
  flex: 1;
  max-width: 150px;
  margin-right: 20px;
  padding: 25px 30px;
}

.product-container {
  flex: 3;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: space-evenly;
  align-items: center;
}

.product-item {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  gap: 50px;
  padding: 20px 30px;
}
.productContent{
  align-items: center;
}
.product-item img{
  border-radius: 10px;
  overflow: hidden;
  width: 300px;
  height: 100%;
  max-width: 300px;
}

.star {
  font-size: 1.7rem;
  color: gold;
}

.star.empty {
  color: lightgray;
}

.star.half:before {
  content: "★";
  color: gold;
  position: absolute;
  overflow: hidden;
  width: 50%;
}
.reviews {
  font-style: italic;
}
.about-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  font-family: "Arial, sans-serif";
  line-height: 1.6;
  color: #333;
}

.about-container h1 {
  text-align: center;
  margin-bottom: 20px;
  color: #966575;
}
.about-container h2 {
  margin-top: 30px;
  color: #966575;
}

.about-container p {
  margin-bottom: 20px;
}

.cart-icon {
  position: relative;
}

.cart-icon .cart-count {

  color: white;
  border-radius: 50%;
  padding: 5px 10px;
  font-size: 14px;
}
.category-item div{
  padding: 5px;
  margin: 5px;
}
.name.active {
  font-weight: bold;
  color: rgb(0, 0, 0);
}